.clients {
  padding: 60px 0;
  margin: 0;
}

.clients-set {
  display: flex;
  flex-wrap: wrap;
}

.client-item {
  &:nth-child(-n + 4) {
    margin-bottom: 30px;
  }

  &:nth-child(2n) {
    margin-left: 30px;
  }

  @media screen and(max-width: 479px) {
    &:nth-child(2n) {
      margin-left: auto;
    }

    &:nth-child(-n + 4) {
      margin-bottom: 0;
    }

    &:nth-child(-n + 5) {
      margin-bottom: 10px;
    }
  }
}

.client-item__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: 250ms var(--timing-fuction);

  &:hover,
  &:focus {
    fill: var(--theme-color);
    border: 1px solid var(--theme-color);
  }
}

@media screen and (min-width: 768px) {
  .clients {
    padding: 60px 0;
    margin: 0;
  }

  .clients-set {
    justify-content: center;
    align-items: center;
  }

  .client-item {
    margin-right: 30px;

    &:nth-child(2n) {
      margin-left: 0;
    }

    &:nth-child(3) {
      margin-right: 0;
    }

    &:nth-child(6) {
      margin-right: 0;
    }

    &:nth-child(-n + 4) {
      margin-bottom: 0;
    }

    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }

  .client-item__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }

  .client-item {
    &:nth-child(-n + 3) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .client-item__link {
    width: 170px;
    height: 92px;
  }
}
